# ------------------------------------------------------------
# GridLock AES: Default Vivado Structure .gitignore
# ------------------------------------------------------------

# Ignore massive Vivado junk
.Xil/
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.data/
xsim.dir/

# Ignore logs and journals
*.jou
*.log
*.pb
vivado_*.backup.*

# --- THE WHITELIST (The Fix) ---
# Allow the project file
!*.xpr

# Allow the deep Vivado source and sim folders
!**/GridLock_AES.srcs/
!**/GridLock_AES.srcs/**

# Ensure specific hardware file types are never ignored
!*.v
!*.sv
!*.vh
!*.svh
!*.xdc
!*.tcl
!*.md
!LICENSE
!.gitignore
